@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&family=Merienda:wght@300..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Times New Roman', Times, serif;
}

:root {
    --bg-clr1: #ffead6;
    --bg-clr2: #fff;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    position: relative;
}

header {
    background-color: var(--bg-clr1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex: 1 1 0;
    z-index: 1;
    box-shadow: 0 4px 10px -4px;
}

main {
    background-color: var(--bg-clr2);
    flex: 4 1 0;
}

dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -100px;

    border: 1mm solid var(--bg-clr2);
    border-radius: 10px;
}

form {
    background-color: var(--bg-clr1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

label {
    font-family: "Merienda", "Roboto", "Times New Roman", Times, serif;
}

form input {
    border: none;
    border-radius: 10px;
    padding: 5px;
}

form input:focus {
    outline: none;
}

.library-icon {
    width: 100px;
    height: 100px;
}

form button {
    border: 2px solid var(--bg-clr1);
    background-color: white;
    border-radius: 25px;
    min-width: 5rem;
    padding: 0.5rem 1.2rem 0.5rem 1.2rem;
}

form button:hover {
    cursor: pointer;
}

.workspace {
    display: flex;
    flex-direction: column;
}

.control-panel {
    margin-top: 30px;
    display: flex;
    gap: 15px;
    justify-content: center;
    min-width: 400px;
}

.search-bar {
    border: 2px solid var(--bg-clr1);
    border-radius: 25px;
    width: 30%;
    padding: 0 10px 0 10px;
}

.search-bar:focus {
    outline: none;
}

.control-btn {
    border: 2px solid var(--bg-clr1);
    background-color: white;
    border-radius: 25px;
    min-width: 5rem;
    padding: 0.5rem 1.2rem 0.5rem 1.2rem;
}

.control-btn:hover {
    background-color: var(--bg-clr1);
    cursor: pointer;
}

.books {
    align-self: center;
    margin-top: 3rem;
    width: 50%;
    display: grid;
    grid-template: repeat(2, 220px) / repeat(auto-fit, 205px);
    gap: 20px;
    grid-auto-rows: 220px;
    grid-auto-columns: 205px;
    justify-content: center;
}

.book-card {
    border: 1mm solid var(--bg-clr1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.book-card:hover {
    box-shadow: 10px 10px 20px 1px #ccc;
}

.book-title {
    font-family: "Merienda", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 1.2rem;
    align-self: center;
    padding: 10px;
    flex: 1 1 auto;
}

.book-author {
    font-family: "Merienda", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 0.9rem;
    flex: 1 1 auto;
}

.book-pages {
    font-family: "Merienda", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 0.9rem;
    flex: 1 1 auto;
}

.btn-container {
    flex: 0 1 auto;
    margin-bottom: 5px;
    display: flex;
    gap: 30px;
}

.remove-btn {
    background: none;
    border-radius: 25px;
    color: red;
    border: 1px solid red;
    padding: 10px;
    min-width: 75px;
}

.remove-btn:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

.read-btn {
    background: none;
    border-radius: 25px;
    color: green;
    border: 1px solid green;
    padding: 10px;
    min-width: 75px;
}

.read-btn:hover {
    background-color: green;
    color: white;
    cursor: pointer;
}

.not-read-btn {
    background: none;
    border-radius: 25px;
    color: red;
    border: 1px solid red;
    padding: 10px;
    min-width: 75px;
}

.not-read-btn:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}
